#############################
# Basic SYSTEM parameters
#############################

# System bus width in Bytes
S.bus = 0x4

# Page size in Bytes
S.page_size = 0x100

#############################
# Basic CACHE parameters(max levels  =  3)
#############################

# Cache levels
C.levels = 0x3

# Write policy for all levels
C.write_policy = 0x0

# Replaycement policy
C.replaycement = 0x1

# Associativity
C.associativity = 0x1

#############################
# Cache L1 parameters
#############################

# Cache size in KBytes
C.L1.size = 0x10

# Associativity sets
C.L1.sets = 0x4

#############################
# Cache L2 parameters
#############################

# Cache size in KBytes
C.L2.size = 0x200

# Associativity sets
C.L2.sets = 0x4

#############################
# Cache L3 parameters
#############################

# Cache size in KBytes
C.L3.size = 0x200000

# Associativity sets
C.L3.sets = 0x4

#############################
# DDR top parameters(max channels  =  4)
#############################

# DDR size in MBytes
DDR.size = 0x10000

# DDR channels
DDR.channels = 0x1

# Interleaving policy
DDR.interleaving = 0x0

#############################
# DDR channel 0 parameters
#############################

# Number of DIMMs in channel
DDR.CH0.dimms = 0x1

# Namber BANKs in dimms
DDR.CH0.banks = 0x4

#############################
# DDR channel 1 parameters
#############################

# Number of DIMMs in channel
DDR.CH1.dimms = 0x1

# Namber BANKs in dimms
DDR.CH1.banks = 0x4

#############################
# DDR channel 2 parameters
#############################

# Number of DIMMs in channel
DDR.CH2.dimms = 0x1

# Namber BANKs in dimms
DDR.CH2.banks = 0x4

#############################
# DDR channel 3 parameters
#############################

# Number of DIMMs in channel
DDR.CH3.dimms = 0x1

# Namber BANKs in dimms
DDR.CH3.banks = 0x4

