#############################
# Basic SYSTEM parameters
#############################

# System bus width in Bytes
S.bus = 0x4

# Page size in Bytes(default 4K)
S.page_size = 0x1000

#############################
# Basic CACHE parameters(max levels  =  3)
#############################

# Cache levels
C.levels = 0x3

# Write policy for all levels
C.write_policy = 0x0

# Replaycement policy
C.replaycement = 0x1

# Associativity
C.associativity = 0x1

#############################
# Cache L1 parameters
#############################

# Cache size in KBytes
C.L1.size = 0x10

# Associativity sets
C.L1.sets = 0x1

# HIT cost
C.L1.cost = 0x1

#############################
# Cache L2 parameters
#############################

# Cache size in KBytes
C.L2.size = 0x20

# Associativity sets
C.L2.sets = 0x2

# HIT cost
C.L2.cost = 0x6

#############################
# Cache L3 parameters
#############################

# Cache size in KBytes
C.L3.size = 0x40

# Associativity sets
C.L3.sets = 0x2

# HIT cost
C.L3.cost = 0x1E

#############################
# DDR top parameters(max channels  =  4)
#############################

# DDR channels
DDR.channels = 0x1

# Interleaving policy
DDR.interleaving = 0x0

#############################
# DDR channel 0 parameters
#############################

# size in MBytes (max 0x800 total)
DDR.CH0.size = 0x800

# Number of DIMMs in channel
DDR.CH0.dimms = 0x1

# Namber BANKs in dimm
DDR.CH0.banks = 0x4

# RAS
DDR.CH0.RAS = 0x64

# CAS
DDR.CH0.CAS = 0x32

#############################
# DDR channel 1 parameters
#############################

# size in MBytes (max 0x800 total)
DDR.CH1.size = 0x0

# Number of DIMMs in channel
DDR.CH1.dimms = 0x1

# Namber BANKs in dimm
DDR.CH1.banks = 0x4

# RAS
DDR.CH1.RAS = 0x64

# CAS
DDR.CH1.CAS = 0x32

#############################
# DDR channel 2 parameters
#############################

# size in MBytes (max 0x800 total)
DDR.CH2.size = 0x0

# Number of DIMMs in channel
DDR.CH2.dimms = 0x1

# Namber BANKs in dimm
DDR.CH2.banks = 0x4

# RAS
DDR.CH2.RAS = 0x64

# CAS
DDR.CH2.CAS = 0x32

#############################
# DDR channel 3 parameters
#############################

# size in MBytes (max 0x800 total)
DDR.CH3.size = 0x0

# Number of DIMMs in channel
DDR.CH3.dimms = 0x1

# Namber BANKs in dimm
DDR.CH3.banks = 0x4

# RAS
DDR.CH3.RAS = 0x64

# CAS
DDR.CH3.CAS = 0x32
