#############################
# Basic SYSTEM parameters
#############################

# System bus width in Bytes
S.bus = 0x4

# Page size in Bytes(64)
S.page_size = 0x40

#############################
# Basic CACHE parameters(max levels  =  3)
#############################

# Cache levels(1-3)
C.levels = 0x3

#############################
# Cache L1 parameters
#############################

# Cache size in KBytes(16)
#  mast be power of 2
C.L1.size = 0x10

# Associativity sets
#  mast be power of 2
C.L1.sets = 0x2

# HIT cost
C.L1.cost = 0x1

#############################
# Cache L2 parameters
#############################

# Cache size in KBytes(512)
#  mast be power of 2
C.L2.size = 0x200

# Associativity sets
#  mast be power of 2
C.L2.sets = 0x4

# HIT cost
C.L2.cost = 0x6

#############################
# Cache L3 parameters
#############################

# Cache size in KBytes(2 MB)
#  mast be power of 2
C.L3.size = 0x800

# Associativity sets
#  mast be power of 2
C.L3.sets = 0x4

# HIT cost(30)
C.L3.cost = 0x1E

#####################################################################################################
#      					 			DDR parameters													#
#  To simplify the calculations, we will set the size to 32bit system maximum - 0x800 MBytes (2G).	#
#####################################################################################################

# DDR channels
#  mast be power of 2
DDR.channels = 0x1

# DDR dimms
#  mast be power of 2
DDR.dimms = 0x1

# DDR ranks
#  mast be power of 2
DDR.ranks = 0x1

# DDR banks(16)
#  mast be power of 2
DDR.banks = 0x10

# Row size in Bytes.(2K)
#  mast be power of 2
DDR.row_size = 0x800


# Multichannel policy
# position of channel addr in full addr
# mast be 0, 1 or 2
############################################
# 0 - | cnannel | dimm | rank |	 address | #
# 1 - | dimm | cnannel | rank |	 address | #
# 2 - | dimm | rank | cnannel |	 address | #
############################################
DDR.ch_pos = 0x2


# Interleaving policy
#############################
# 0 - BLOCK_INTERLEAVING	#
# 1 - ROW_INTERLEAVING		#
# 2...WRONG_INTERLEAVING	#
#############################
DDR.interleaving = 0x1


# RAS(100)
DDR.RAS = 0x64

# CAS(50)
DDR.CAS = 0x32
