#############################
# Basic CACHE parameters(max levels = 3)
#############################

# System bus width in Bytes
S.bus=4

# Page size in KBytes
S.page_size=256

# Cache levels
C.levels=3

# Write policy for all levels
C.write_policy=0

# Replaycement policy
C.replaycement=1

# Associativity
C.associativity=1

#############################
# Cache L1 parameters
#############################

# Cache size in KBytes
C.L1.size=256

# Associativity sets
C.L1.sets=4

#############################
# Cache L2 parameters
#############################

# Cache size in KBytes
C.L2.size=1024

# Associativity sets
C.L2.sets=4

#############################
# Cache L3 parameters
#############################

# Cache size in MBytes
C.L3.size=256

# Associativity sets
C.L3.sets=4

#############################
# DDR top parameters(max channels = 4)
#############################

# DDR channels
DDR.channels=2

# Interleaving policy
DDR.interleaving=0

#############################
# DDR channel 0 parameters
#############################

# Number of DIMMs in channel
DDR.CH0.dimms=4

# Namber BANKs in dimms
DDR.CH0.banks=16

#############################
# DDR channel 1 parameters
#############################

# Number of DIMMs in channel
DDR.CH1.dimms=4

# Namber BANKs in dimms
DDR.CH1.banks=16

#############################
# DDR channel 2 parameters
#############################

# Number of DIMMs in channel
DDR.CH2.dimms=4

# Namber BANKs in dimms
DDR.CH2.banks=16

#############################
# DDR channel 3 parameters
#############################

# Number of DIMMs in channel
DDR.CH3.dimms=4

# Namber BANKs in dimms
DDR.CH3.banks=16

